<%= turbo_frame_tag "cart" do %>
  <% if @cart.orderables.count > 0 %>
    <%= render "cart/orderables" %>
    <div class="row justify-content-center align-items-center">
       <div class="col text-center">
       <p class="fw-bold mb-0">Total ARS: <%= @cart.total %></p>
      </div>
      <div class="col text-center">
         <%= button_to 'Pagar las clases', payments_create_path, 'data-turbo': false, class: "btn btn-warning text-center" %>
      </div>
       <div class="col text-center">
         <%= button_to 'Reservar - Pago en efectivo', reservations_create_path, 'data-turbo': false, class: "btn btn-secondary text-center mt-2" %>
      </div>
   </div>
    
  <% else %>
    <div class="text-center p-5"> <!-- Mayor espacio para el mensaje de carrito vacío -->
      <p class="fs-5 fw-bold">El carrito está vacío</p> <!-- Texto más grande y en negrita -->
      <p class="fs-6">¡Agrega algunos productos para comenzar!</p> <!-- Texto más pequeño -->
    </div>
  <% end %>
<% end %>




