
<table class="table table-borderless">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Profesor</th>
      <th>Precio</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.orderables.each do |orderable| %>
      <% lesson = orderable.lesson %>
      <tr>
        <td><%= lesson.category.title %></td>
        <td><%= lesson.coach.email %></td>
        <td><%= lesson.precio %></td>
        <td><%= orderable.total %></td>
        <td>
          <%= form_with(url: cart_remove_path) do |f| %>
            <%= f.hidden_field :id, value: orderable.id %>
            <%= f.submit "X", class: "btn btn-outline-dark btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



