
<div class="">
  <table class="table table-borderless table-sm table-responsive">
  <thead>
    <tr>
      <th>codigo</th>
      <th>Categoria</th>
      <th>Profesor</th>
      <th>Precio</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.orderables.each do |orderable| %>
      <% lesson = orderable.lesson %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= lesson.category.title %></td>
        <td><%= lesson.coach.email %></td>
        <td><%= lesson.precio %></td>
        <td><%= orderable.total %></td>
        <td>
          <%= form_with(url: cart_remove_path) do |f| %>
            <%= f.hidden_field :id, value: orderable.id %>
            <%= f.button(type: 'submit', class: 'btn btn-outline-dark btn-sm') do %>
                <i class="bi bi-trash"></i> <!-- Icono de Bootstrap para un bote de basura (puedes cambiarlo según tu preferencia) -->
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



