<div class="container mt-4">
<%= turbo_frame_tag "cart" do %>
  <h1>Tu carrito</h1>
  <% if @cart.orderables.count > 0 %>
    <%= render "cart/orderables" %>
     <p>cantidad: <%= @cart.orderables.count %></p>
      <p>Total: <%= @cart.total %></p>
      <%= button_to 'Pagar la compra', payments_create_path, 'data-turbo': false, class: "mt-3 btn btn-warning float-end" %>
  <% else %>
    <p>El carrito esta vacio</p>
  <% end %>
<% end %>
</div>
