 <div id="mainContainer">
  <div class="">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 col-xs-12 d-none d-lg-block d-md-block">
      <div id="mainBgn"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="p-4 centerOnMobile" >
        <div class="formContainer">
          <h2 class="p-2 h4 text-center"><i class="fas fa-lock me-2"></i> Bienvenido/a</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="d-flex flex-column justify-content-center align-items-center">

              <div class="form-group mb-3 w-75">
                <%= f.label :Nombre, class: "form-label"%>
                <%= f.text_field :fisrt_name, autofocus: true, autocomplete: "Nombre", class: "form-control" %>
              </div>
              
              
              <div class="form-group mb-3 w-75">
                <%= f.label :Apellido, class: "form-label"%>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "Apellido", class: "form-control" %>
              </div>
              
              
              <div class="form-group mb-3 w-75">
                <%= f.label :username, class: "form-label"%>
                <%= f.email_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
              </div>
        
              <div class="form-group mb-3 w-75">
                <%= f.label :email, class: "form-label"%>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="form-group mb-3 w-75">
                <%= f.label :password, class:"form-label" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caracteres minimo)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
              </div>

              <div class="form-group mb-3 w-75">
                <%= f.label :password_confirmation, class:"form-label" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
              </div>

              <div class="mb-3 d-flex align-items-center justify-content-center py-3">
                <%= f.submit "Listo para empezar!", class:"btn btn-lg btn-warning rounded-pill" %>
              </div>

        
      </div>
      <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>