<p style="color: green"><%= notice %></p>
<p style="color: green"><%= notice %></p>
<div class="container">
  <h4>Listado de usuarios</h4>
  <div class="container">
       <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Fecha de creacion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div id="userspage">
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.id %></td>
                      <td><%= user.fisrt_name %></td>
                      <td><%= user.last_name %></td>
                      <td><%= user.username %></td>
                      <td><%= user.email %></td>
                      <td><%= user.role %></td>
                      <td><%= user.created_at %></td>
                    <% end %>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
</div>
