
<div class="container">
  <div class="row align-items-center">
      <div class="col-lg-6 d-none d-lg-block">
        <div id="mainLesson"> </div>
  </div>
  <div class="col-lg-6">
       

      <div class="card h-100" style="max-width: 600px;">
        <div class="card-body">
             
              <%= form_with(model: lesson, local: true, class: "needs-validation", novalidate: true) do |form| %>
            
              <% if lesson.errors.any? %>
                <div class="alert alert-danger" role="alert">
                  <h4 class="alert-heading">Error al guardar la lección:</h4>
                  <ul>
                    <% lesson.errors.full_messages.each do |error| %>
                      <li><%= error %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
               
               <%= form.hidden_field :coach_id, value: current_user.id%>
             

              <div class="mb-3">
                <%= form.label :category_id, "Categoría", class: "form-label" %>
                <%= collection_select(:lesson, :category_id, Category.all, :id, :title, { include_blank: "Seleccionar Categoría" }, { class: "form-select" }) %>
              </div>

              <div class="mb-3">
                <%= form.label :precio, "Precio", class: "form-label" %>
                <%= form.number_field :precio, class: "form-control" %>
              </div>

              <div class="mb-3">
                <%= form.label :status, "Estado", class: "form-label" %>
                <%= form.select :status, Lesson.statuses.keys.map { |w| [w.humanize, w] }, { include_blank: "Seleccionar Estado", selected: "disponible" }, { class: "form-select" } %>

              </div>

              <div class="mb-3">
                <div style="max-width: 200px;">
                <%= form.label :dia, "Día", class: "form-label" %>
                <%= form.date_field :dia, class: "form-control" %>
                 </div>
              </div>

              <div class="mb-3 row "> 
                  <div class="col"> 
                    <%= form.label :inicio, "Inicio", class: "form-label" %> 
                    <%= form.time_select :inicio, { minute_step: 30 }, class: "form-control" %>
                  </div>
                  <div class="col"> 
                    
                    <%= form.label :fin, "Fin", class: "form-label mt-3" %>
                    <%= form.time_select :fin, { minute_step: 30 }, class: "form-control" %>
                  </div>
              </div>
             
              <%= form.submit "Guardar", class: "btn btn-warning" %>

          <% end %>

        </div>
      </div>
  </div>
 </div>

