<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10"> 
      <h3 class="mb-4">Creacion de clases - Importar desde archivo</h3>
      <div class="card p-4">
        <!-- <% if flash[:alert] %>
          <div class="alert alert-danger">
            <strong>Errores de Importación:</strong>
            <ul>
              <% flash[:alert].split("\n").each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-info">
            <strong>Información:</strong>
            <p><%= flash[:notice] %></p>
          </div>
        <% end %> -->
        

        <div class="alert alert-secondary">
          <strong>Tips para Importar Clases:</strong>
          <ul>
            <li>Asegúrese de que el archivo esté en formato CSV.</li>
            <li>El archivo debe tener las columnas: <code>dia, inicio, fin, precio, categoria</code>.</li>
            <li>El dia es la fecha de la clase. La misma debe ser en el futuro</li>
            <li>Las fechas deben estar en formato <code>dd/mm/aa</code>.</li>
            <li>Los horarios deben estar en formato <code>HH:MM</code>.</li>
            <li>Asegúrese de que la categoría este dentro de las habilitadas.</code>.</li>
            <li>Todas las clases serán creadas con estado disponible .</code>.</li>
          </ul>
        </div>

        <%= form_with url: import_csv_lessons_path, method: :post, class: "mb-3", multipart: true do |f| %>
          <div class="input-group">
            <%= f.file_field :file, accept: ".csv", class: "form-control" %>
            <button type="submit" class="btn btn-warning">Subir</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <!-- Botón "Volver a clases"  -->
  <div class="row justify-content-end mt-3">
    <div class="col-md-10">
      <div class="text-end"> 
        <%= link_to "Volver a clases", lessons_path, class: "btn btn-outline-secondary rounded-pill" %>
      </div>
    </div>
  </div>
</div>



