<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10"> 
      <h3 class="mb-4">Crear clases - Importar</h3>
      <div class="card p-4">
        <!-- <% if flash[:alert] %>
          <div class="alert alert-danger">
            <strong>Errores de Importación:</strong>
            <ul>
              <% flash[:alert].split("\n").each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-info">
            <strong>Información:</strong>
            <p><%= flash[:notice] %></p>
          </div>
        <% end %> -->

        <%= form_with url: import_csv_lessons_path, method: :post, class: "mb-3", multipart: true do |f| %>
          <div class="input-group">
            <%= f.file_field :file, accept: ".csv", class: "form-control" %>
            <button type="submit" class="btn btn-primary">Subir</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <!-- Botón "Volver a clases"  -->
  <div class="row justify-content-end mt-3">
    <div class="col-md-10">
      <div class="text-end"> <!-- Alinea el contenido a la derecha -->
        <%= link_to "Volver a clases", lessons_path, class: "btn btn-outline-secondary rounded-pill" %>
      </div>
    </div>
  </div>
</div>



