<div class="container">
  <h1>Cursos</h1>
  <div class="row mt-4">
    <div class="col-md-9">
      <div class="card h-100">
        <div class="card-body">
          <%= render "lessons/search_form", q: @q %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center justify-content-center">
          <%= link_to "New lesson", new_lesson_path, class: "btn btn-warning btn-lg me-2 float-end" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <%= turbo_frame_tag 'lessons_table' do %>
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">Cursos</h5>
          <div class="indexcontainer">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th><%= sort_link(@q, :coach_id, "Profesor") %></th>
                  <th><%= sort_link(@q, :category_title, "Categoria") %></th>
                  <th scope="col">Precio</th>
                  <th scope="col">Estado</th>
                  <th><%= sort_link(@q, :dia, "Dia", default_order: :desc) %></th>
                  <th scope="col">Inicio</th>
                  <th scope="col">Fin</th>
                  <th scope="col">Acciones</th>
                   <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @lessons.each do |lesson| %>
                  
                    <tr>
                      <td><%= lesson.id %></td>
                      <td><%= lesson.coach.email %></td>
                      <td><%= lesson.category.title %></td>
                      <td><%= lesson.precio %></td>
                      <td><%= lesson.status %></td>
                      <td><%= lesson.dia %></td>
                      <td><%= lesson.inicio.strftime("%H:%M") %></td>
                      <td><%= lesson.fin.strftime("%H:%M") %></td>
                      <td>
                        <%= link_to lesson_path(lesson), class: "btn btn-outline-dark btn-sm", data: { turbo: false } do %>
                          <i class="bi bi-eye"></i> 
                        <% end %>
                        <% if lesson.disponible? %>
                          <%= link_to edit_lesson_path(lesson), class: "btn btn-outline-dark btn-sm ms-1", data: { turbo: false } do %>
                            <i class="bi bi-pencil"></i>
                          <% end %>
                        <% end %>
                        <% lesson.reservations.each do |reservation| %>
                        <% if reservation.payment == 'Pendiente' %>
                          <%= link_to edit_status_reservation_path(reservation), class: "btn btn-outline-dark btn-sm ms-1", data: { turbo: false } do %>
                            <i class="bi bi-coin"></i>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <Br/>
  <div class="mt-3">
    <ul class="form-but">
      <%= link_to "Back", :back, class: "btn btn-outline-secondary rounded-pill float-end" %>
    </ul>
  </div>
</div>
<Br/>
