<div id="mainContainerlogin">

    <div class="row align-items-center">
      <div class="col-lg-6 d-none d-lg-block">
        <div id="mainBgnlogin"></div>
      </div>
      <div class="col-lg-6">
        <div class="p-4 centerOnMobile">
          <div class="formContainer">
            <h2 class="p-2 h4 text-center"><i class="fas fa-lock me-2"></i> ¡Volviste!</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="mb-3">
                <%= f.label :username, class: "form-label" %>
                <%= f.email_field :username, class: "form-control", placeholder: "Username", autofocus: true, autocomplete: "username" %>
              </div>
              <div class="mb-3">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="mb-3">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me, class: "form-check-label" %>
                </div>
              <% end %>
              <div class="mb-3 d-grid">
                <%= f.submit "Entrar", class: "btn btn-lg btn-warning rounded-pill" %>
              </div>
            <% end %>
            <div class="text-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

