
<div  class="container mt-5">
    <h2 class="text-center mb-4">Mis Reservas</h2>
     <div class="mt-4 text-end">
        
        <%= link_to "Reservar", user_reserve_path, class: "btn btn-lg btn-warning rounded-pill" %>
      </div>
      <br/>
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <% if @Reservations.present? %>
                  
                       <div class="indexcontainer">
                         <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
                            <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">ID Reserva</th>
                                <th><%= sort_link(@q, :created_at, "Fecha reserva") %></th>
                                <th scope="col">ID Clase</th>
                                <th scope="col">Fecha Clase</th>
                                <th scope="col">Category</th>
                                <th><%= sort_link(@q, :status, "Estado") %></th>
                                <th><%= sort_link(@q, :payment, "Pago") %></th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <div id="">
                                  <% @Reservations.each do |r| %>
                                    <tr>
                                      <td><%= r.id %></td>
                                      <td><%= r.created_at.strftime('%Y-%m-%d') %></td>
                                      <td><%= r.lesson_id %></td>
                                      <td><%= r.lesson.dia %></td>
                                      <td><%= r.lesson.category.title %></td>
                                      <td><% if r.status == 'Pendiente' %>
                                              
                                              <span class="text-danger">Pendiente</span>
                                              <i class="bi bi-exclamation-triangle text-danger"></i> 
                                              <% else %>
                                                <span class=""><%= r.status %>
                                              <% end %>
                                      </td> 
                                      <td><% if r.payment == 'Pendiente' %>
                                              
                                              <span class="text-danger">Pendiente</span>
                                              <i class="bi bi-exclamation-triangle text-danger"></i> 
                                              <% else %>
                                                <span class=""><%= r.payment %>
                                              <% end %>
                                      </td>  
                                    </tr>
                                  <% end %>
                            </tbody>
                      </table>
                      
                      </div>
                      <div class="d-flex justify-content-center mt-3">
                            <%== pagy_bootstrap_nav(@pagy) %>
                      </div>
                    </div>
                  <% else %>
                  <p>No hay reservas disponibles.</p>
                <% end %>
       </div>
    </div> 
 </div> 
