
<div  class="container mt-5">
    <h2 class="text-center mb-4">Mis Reservas</h2>
     <div class="mt-4 text-center">
        <%= link_to "Carrito", cart_path, class: "btn btn-warning btn-lg rounded-pill me-3" %>
        <%= link_to "Reservar", user_reserve_path, class: "btn btn-lg btn-primary rounded-pill" %>
      </div>
      <br/>
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <% if @Reservations.present? %>
                  
                       <div class="indexcontainer">
                         <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
                            <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Lesson ID</th>
                                <th scope="col">user ID</th>
                                <th scope="col">Lesson Category</th>
                                <th scope="col">Status</th>
                                <th scope="col">Payment</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <div id="">
                                  <% @Reservations.each do |r| %>
                                    <tr>
                                      <td><%= r.id %></td>
                                      <td><%= r.lesson_id %></td>
                                       <td><%= r.user.email %></td>
                                      <td><%= r.lesson.category.title %></td>
                                      <td><%= r.status%></td>
                                      <td><%= r.payment %></td> 
                                    </tr>
                                  <% end %>
                            </tbody>
                      </table>
                      </div>
                    </div>
                  <% else %>
                  <p>No hay reservas disponibles.</p>
                <% end %>
       </div>
    </div> 
 </div> 
