
<div class="container mt-3">
   <div class="card shadow p-2 mb-5 bg-white rounded">
    <%= render partial: "cart/cart" if @render_cart %>
   </div>
   <div class="row">
     <div class="col-3">
         <div class="card shadow p-3">
              <p class="bold-text">Filtros</p>
              <hr class="my-1">
                   <%= form_with(url: buscar_lessons_lessons_path, method: 'get', remote: true, id: 'search_form') do |form| %>
                    <div class="mb-3">
                           <%= form.label :dia, 'Día' %>
                           <%= form.date_field :dia, class: 'form-control' %>
                    </div>
                    
                    <div class="mb-3">
                    <%= form.submit 'Buscar', class: 'btn btn-primary' %>
                     </div>
                    <% end %>
            </div>
    </div>
      <div class="col-9">
          <div class="indexcontainer">
              <div class="row">
                 <div id="lessons_table">
                     <%= render partial: 'lessons_table', locals: { lessons: @lessons } %>
                 </div>
              </div>
            </div>
        </div>
      <div class="">
         <ul class="form-but">
                <%= link_to "Back", :back, class:"btn btn-medium btn-outline-secondary rounded-pill float-end" %>
            </ul>
      </div>
  </div>
</div>

