<p style="color: green"><%= notice %></p>
<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Ready to Go!</h1>
  
  <%= render partial: "cart/cart" if @render_cart %>
  
  <div class="container">
      <h3>Cursos Disponibles</h3>
      <div class="indexcontainer">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Profesor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Dia</th>
                <th scope="col">Inicio</th>
                <th scope="col">Fin</th>
                <th scope="col"></th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <div id="lessons">
                  <% @lessons.upcoming.disponible.each do |lesson| %>
                    <tr>
                      <td><%= lesson.id %></td>
                      <td><%= lesson.coach.email %></td>
                      <td><%= lesson.category.title %></td>
                      <td><%= lesson.precio %></td>
                      <td><%= lesson.dia %></td>
                      <td><%= lesson.inicio.strftime("%H:%M") %></td>
                      <td><%= lesson.fin.strftime("%H:%M") %></td>
                      <td>
                       <%= form_with(url: cart_add_path) do |f| %>
                                <%= f.hidden_field :id, value: lesson.id %>
                               <%= f.hidden_field :quantity, value: '1' %>
                                <%= f.submit "Agregar al carrito", class: "btn btn-outline-dark" %>
                      <% end %>
                      </td>
                    <% end %>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
 </div>
 <div class="">
  <ul class="form-but">
            <%= link_to "Back", :back, class:"btn btn-medium btn-outline-secondary rounded-pill" %>
        </ul>
 </div>
